<h3>Поиск</h3>

<newlist></newlist>
<!--<table ng-if="$ctrl.groups.length" class="table table-hover table-bordered">
	<tbody class="hand">
		<tr ng-repeat="item in $ctrl.groups" ng-click="$ctrl.openGroup(item.id)">
			<td>{{item.fullname}}</td>
		</tr>
	</tbody>
</table>
<table ng-if="$ctrl.items.length" class="table table-hover table-bordered items-table">
	<thead>
		<tr>
			<th>Артикул</th>
			<th>Наименование</th>
			<th>Производитель</th>
			<th>Цена</th>
			<th>Валюта</th>
			<th style="width: 100px;">Количество</th>
			<th>Ед.</th>
		</tr>
	</thead>
	<tbody class="hand">
		<tr ng-repeat="item in $ctrl.items">
			<td>{{item.article}}</td>
			<td>{{item.fullname}}</td>
			<td>{{item.producer}}</td>
			<td>{{item.price}}</td>
			<td>{{item.currency}}</td>
			<td><input ng-model="item.amount" ng-change="$ctrl.amountChange(item)" class="form-control" type="number" /></td>
			<td>{{item.unit}}</td>
		</tr>
	</tbody>
</table>-->